.bullets ul {
  list-style-type: square;
  margin-left: 1em;
  padding-left: 1em;
}

.bullets ul li {
  text-align: left;
}

pre.sh_sourceCode {
  background-color: #ccc;
  -webkit-border-radius: 5px;
  padding: 0.5em;
  margin-right: 40px;
  line-height: 1.3em;
}

div[ref="one/slides/15"] ul {
  width: 75%;
}

div[ref="one/slides/15"] img {
  position: absolute;
  right: 30px;
  top: 300px;
}

div[ref="one/slides/16"] ul {
  width: 50%;
}

div[ref="one/slides/16"] img {
  position: absolute;
  right: 30px;
  top: 300px;
}
