$display-color: #089cff;

.sc-view {
  position: relative;
  overflow: visible;
}

@font-face {
  font-family: 'DigitaldreamFatRegular';
  src: sc_static('stylesheets/DIGITALDREAMFAT-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.clear-both { clear: both; }


#speedometer {
  margin: 50px auto 0 auto;
  padding-top: 20px;
  padding-bottom: 34px;
  width: 600px;
  height: 200px;
  font: 200px DigitaldreamFatRegular;
  line-height: 200px;
  text-align: center;
  background-color: #000;
  -webkit-border-radius: 20px;

  .current-states {
    font-size: 12px;
    line-height: 12px;
  }
}

.digital-display span {
  color: $display-color;
  opacity: 0.4;
}

.car-on .digital-display span {
  opacity: 1;
}

#controls {
  margin: 20px auto 0 auto;
  width: 600px;

  .pedal-view {
    float: left;
  }

  #ignition-button {
    float: right;
  }
}

#radio {
  margin: 20px auto 0 auto;
  width: 600px;

  #radio-controls {
    float: left;
    width: 80px;
  }

  #radio-display {
    float: left;
    width: 520px;
    height: 72px;
    background-color: #000;
    -webkit-border-radius: 20px;
    color: $display-color;
    font: 60px DigitaldreamFatRegular;
    line-height: 72px;
    text-align: center;
  }
}
